<a href="https://colab.research.google.com/github/Sanjana-Gautam/Python-Conditional-Statement/blob/main/Data_types_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from typing import Type
# print("HI")
# Data_types
# Numeric
#int
a = 133
print(type(a))

#float
b = 34.4
print(type(b))

#complex

c = 4 +7j
print(type(c))

#boolean

a1 = True
print(type(a1))

a2 = False
print(type(a2))

#sequence
#string
b1 = "sanna"
print(type(b1))

#List
b2 = [1 , 2.6 , "sanna"]
print(type(b2))

#tuple
b3 =  (1, 3.5, "sanna")
print(type(b3))

#dictionary
c = {"name" : "sanna" , "class" : 6 , "roll" : 2345}
print(type(c))

#set
c2 =  {1, 3.5, "sanna"}
print(type(c2))

#None
c5 = None
print(type(c5))


#Immutable data type
#. once created , they cannot be changed . if you try to modify them , a new object is created
#. int , float , str , complex , tuple

s1 = "sanna1"
print(id(s1))

s1 = "sanna"
print(id(s1))

#3.mutable data type
#. Can be changed , without creating a new object.
#. list , dict,set
li = [1 , 2.3 , 3 , 4]
print(id(li))

li = {1 , 2.3 , 3 , 4}
print(id(li))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'NoneType'>
135339121266480
135339143330288
135339123642624
135339122429056